/**
 * BMF CSS Framework - Light Mode
 */

:root {

  /* Text Tokens */
  --color-text-default: var(--color-gray-900);
  --color-text-muted: var(--color-gray-500);
  --color-text-disabled: var(--color-gray-400);
  --color-text-accent: var(--color-primary);
  --color-text-inverted: var(--color-gray-50);
  --color-text-link: var(--color-primary);
  --color-text-link-hover: var(--color-primary-hover);

  /* Background Tokens */
  --color-bg-default: var(--color-gray-50);
  --color-bg-subtle: var(--color-gray-100);
  --color-bg-muted: var(--color-gray-200);
  --color-bg-emphasis: var(--color-gray-300);
  --color-bg-inverted: var(--color-gray-800);
  --color-bg-overlay: hsla(var(--color-gray-900), var(--opacity-medium));

  /* Border Tokens */
  --color-border-default: var(--color-gray-200);
  --color-border-muted: var(--color-gray-300);
  --color-border-accent: var(--color-primary);
  --color-border-critical: var(--color-danger);

  /* Focus Tokens */
  --color-ring-default: hsla(var(--color-gray-900), var(--opacity-low));
  --color-ring-accent: hsla(var(--color-primary), var(--opacity-medium));
  --color-ring-critical: hsla(var(--color-danger), var(--opacity-medium));

  /* Shadow Tokens */
  --shadow-color: 220 3% 15%;
  --shadow-sm: 0 1px 2px hsl(var(--shadow-color) / 0.1);
  --shadow:
    0 1px 3px hsl(var(--shadow-color) / 0.1),
    0 1px 2px hsl(var(--shadow-color) / 0.06);
  --shadow-md:
    0 4px 6px -1px hsl(var(--shadow-color) / 0.1),
    0 2px 4px -1px hsl(var(--shadow-color) / 0.06);
  --shadow-lg:
    0 10px 15px -3px hsl(var(--shadow-color) / 0.1),
    0 4px 6px -2px hsl(var(--shadow-color) / 0.05);
  --shadow-xl:
    0 20px 25px -5px hsl(var(--shadow-color) / 0.1),
    0 10px 10px -5px hsl(var(--shadow-color) / 0.04);

  /* State Tokens */
  --color-state-hover: var(--color-gray-100);
  --color-state-focus: var(--color-gray-200);
  --color-state-active: var(--color-gray-300);
  --color-state-selected: var(--color-gray-200);
  --color-state-disabled: var(--color-gray-200);
}
