/* Position */
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.sticky { position: sticky; }
.static { position: static; }

.inset-0 {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.top-0 { top: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.left-0 { left: 0; }

.top-1\/2 { top: 50%; }
.right-1\/2 { right: 50%; }
.bottom-1\/2 { bottom: 50%; }
.left-1\/2 { left: 50%; }

.top-full { top: 100%; }
.right-full { right: 100%; }
.bottom-full { bottom: 100%; }
.left-full { left: 100%; }

/* Z-Index */
.z-0 { z-index: 0; }
.z-10 { z-index: 10; }
.z-20 { z-index: 20; }
.z-30 { z-index: 30; }
.z-40 { z-index: 40; }
.z-50 { z-index: 50; }
.z-auto { z-index: auto; }
