/* アラート */
.alert {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-4);
  padding: var(--spacing-3) var(--spacing-4);
  position: relative;
}

.alert-primary {
  background-color: var(--color-slate-100);
  border-color: var(--color-slate-200);
  color: var(--color-primary);
}

.alert-secondary {
  background-color: var(--color-slate-100);
  border-color: var(--color-slate-200);
  color: var(--color-secondary);
}

.alert-success {
  background-color: var(--color-slate-100);
  border-color: var(--color-slate-200);
  color: var(--color-success);
}

.alert-danger {
  background-color: var(--color-slate-100);
  border-color: var(--color-slate-200);
  color: var(--color-danger);
}

.alert-warning {
  background-color: var(--color-slate-100);
  border-color: var(--color-slate-200);
  color: var(--color-warning);
}

.alert-info {
  background-color: var(--color-slate-100);
  border-color: var(--color-slate-200);
  color: var(--color-info);
}