/* Swatch */

/* Color preview box used in docs (4rem tall) */
.swatch-preview {
  height: var(--spacing-16);
  border-radius: var(--border-radius-sm);
}

.swatch {
  align-items: center;
  border-radius: var(--border-radius);
  color: var(--text-on-primary);
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}