/* sleyt - Minimal Modern CSS Framework */

/* Base */
@import url('./base/reset.css');
@import url('./base/variables.css');
@import url('./base/themes.css');


/* Components */
@import url('./components/accordion.css');
@import url('./components/alerts.css');
@import url('./components/badges.css');
@import url('./components/buttons.css');
@import url('./components/cards.css');
@import url('./components/charts.css');
@import url('./components/code.css');
@import url('./components/forms.css');
@import url('./components/modals.css');
@import url('./components/navbar.css');
@import url('./components/navigation.css');
@import url('./components/progress.css');
@import url('./components/showcase.css');
@import url('./components/spinners.css');
@import url('./components/swatch.css');
@import url('./components/tables.css');
@import url('./components/tabs.css');

/* Layout */
@import url('./layout/container.css');
@import url('./layout/flexbox.css');
@import url('./layout/grid.css');

/* Utilities */
@import url('./utilities/borders.css');
@import url('./utilities/colors.css');
@import url('./utilities/display.css');
@import url('./utilities/effects.css');
@import url('./utilities/glass.css');
@import url('./utilities/position.css');
@import url('./utilities/spacing.css');
@import url('./utilities/transforms.css');
@import url('./utilities/transitions.css');
@import url('./utilities/typography.css');
